@font-face {

    font-family: "biza";
    src: url('Bizantheum.ttf') format('opentype');
}
@font-face {
    
    font-family: "lemon";
    src: url('LEMONMILK-Regular.ttf') format('opentype'); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "lemon";
    font-size: 20px;
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 56%, #FFE32C 95%, #ffffff 100%);
    height: 100%;
}

.login-container {
    width: 30%; 
    margin: 0 auto; 
    background-color: rgb(192, 153, 26); 
    padding: 40px 20px; 
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 1.2rem;
}

#login-form {
    text-align: center;
}

#register-form {
    text-align: center;
}

.register-container {
    width: 30%; 
    margin: 0 auto; 
    background-color: rgb(192, 153, 26); 
    padding: 40px 20px; 
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 1.2rem;
}

.register-nav {
    margin-top: 40px;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(17, 57, 165);
    font-weight: 400;
}

header {
    height: 8vh;
    padding: 30px;
}

form {
    width: 100%;
    padding: 40px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "lemon";
    text-shadow: 2px 2px 1px black; 
    color: rgb(17, 57, 165);
}

#username {
    background-color: rgb(17, 57, 165);
    font-size: 15px;
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid rgb(17, 57, 165);
    text-align: center;
}

#password {
    background-color: rgb(17, 57, 165);
    font-size: 15px;
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid rgb(17, 57, 165);
    text-align: center;
}

.boton {
    width: 87%;
    box-sizing: content-box;
    background-color: rgb(17, 57, 165);
    border: 2px rgb(17, 57, 165);
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
}

.logo img {
    height: 70px; 
    border: none; 
    margin-right: 10px; 
    display: block; 
    width: 70px;
}

a {
    text-decoration: none;
    color: #ffffff;
}