@font-face {

    font-family: biza;
    src: url(Bizantheum.ttf);

    font-family: lemon;
    src: url(LEMONMILK-Regular.ttf); 
}

html {
    font-family: "lemon";
    font-size: 20px;
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);


}

header { 
    display: flex; 
    justify-content: space-between; 
    height: 100px; 
    background-color: rgb(17, 57, 165); 
    align-items: center; 
    padding: 5px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo {
    display: flex; 
    align-items: center; 
}

.logo img {
    height: 70px; 
    border: none; 
    margin-right: 10px; 
    display: block; 
    width: 70px;
}

.logo h2 {
    font-family: "lemon";
    color: rgb(192, 153, 26);
}

nav a:hover {
    color: rgb(192, 153, 26);
}

nav a {
    font-weight: 500; 
    padding-right: 10px;
    text-decoration: none;
}

nav li {
    list-style: none;
    line-height: 1.5;
    font-family: "lemon";
}

h1 {
    font-family: "lemon";
    font-size: 40px ; 
    text-align: center;
    margin: 0; 
    padding: 20px 0; 
    color: rgb(17, 57, 165); 
    text-shadow: 3px 3px 1px black;
    padding-top: 60px;
}

h2 {
    font-family: "lemon";
    font-size: 25px; 
    text-shadow: 2px 2px 1px black; 
    color: rgb(17, 57, 165);
}

p, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500; 
    line-height: 2; 
    letter-spacing: 1px;
}

body {
    width: 600px; 
    margin: 0 auto; 
    background-color: rgb(192, 153, 26); 
    padding: 0 30px 0px 30px; 
    border: 5px solid black;
}

img {
    display: block; 
    margin: 0 auto; 
    width: 50%;
    border:  5px solid black;
    border-radius: 20px;
}

.Foto {
    padding-top: 30px;
}

.servicios {
    padding-top: 100px;
}

.nosotros, .ubicacion {
    padding-top: 20px;
}

.contacto {
    padding-top: 60px;
}

a {
    color: black; 
}

a:hover {
    color: rgb(17, 57, 165);
}

footer {
    justify-content: space-between;
    background-color: rgb(17, 57, 165);
    border: 5px solid black;
    border-bottom: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 70px;
    margin: 0 auto;
}

footer p {
    color: rgb(192, 153, 26);
    font-family: "lemon";
    font-size: 18px;
    text-shadow: 2px 2px 1px black;
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 20px 
}